.container {
	position: relative;
	margin: 0 auto;
	width: 90%;
	height: 100vh;
}

body {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
}

.concha {
	margin: 0 auto 20px;
	max-width: 300px;
}

.pino {
	position: absolute;
    top: 54px;
    right: 70px;
    max-width: 30px;
}

.pino .linha {
	display: block;
	position: absolute;
	right: 17px;
	top: 43px;
	width: 60px;
	height: 2px;
	background: #fff;
	transform: rotate(-45deg);
	z-index: -1;
}

.Button {
	background-color: #ce9cd7;
}

.Button:hover {
	background-color: #ba87c4;
}

.answer {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	margin: 0;
	padding: 10px;
	color: #000;
	background-color: rgba(255, 255, 255, 0.7);
	font-size: 50px;
}

@media only screen and (max-width: 768px) {
 	.content {
 		width: 90%;
 	}

 	.concha {
 		max-width: 250px;
 	}
}